<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pg.billstore.dao.AppcustomerMapper">

    <resultMap type="com.pg.billstore.entity.Appcustomer" id="AppcustomerMap">
        <result property="customerId" column="customer_id" />
        <result property="truename" column="truename" />
        <result property="phone" column="phone" />
        <result property="idCard" column="id_card" />
        <result property="address" column="address" />
        <result property="openId" column="open_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="queryPage" resultMap="AppcustomerMap">
        SELECT * FROM appcustomer ORDER BY create_time DESC
    </select>

    <select id="queryAll" resultMap="AppcustomerMap">
        SELECT * FROM appcustomer ORDER BY create_time DESC
    </select>

    <select id="queryOne" resultMap="AppcustomerMap">
        select * from appcustomer where customer_id = #{customerId}
    </select>

    <select id="queryOneUsernameAndPhone" resultMap="AppcustomerMap">
        select * from appcustomer where truename = #{truename} and phone = #{phone}
    </select>

    <insert id="insert">
        insert into appcustomer( customer_id,truename,phone,id_card,address,open_id,create_time,update_time )
        values ( #{customerId},#{truename},#{phone},#{idCard},#{address},#{openId},#{createTime},#{updateTime} )
    </insert>

    <update id="update">
        update appcustomer
        <set>
            <if test="customerId != null and customerId != ''">
                customer_id = #{customerId},
            </if>
            <if test="truename != null and truename != ''">
                truename = #{truename},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where customer_id = #{customerId}
    </update>

    <delete id="delete">
        DELETE FROM appcustomer WHERE customer_id = #{customerId}
    </delete>

</mapper>